:root {
    --bg: white;
    --fg: #124951;
    --primary: #e73870;

    --shadow-color: 0deg 0% 63%;
    --shadow-elevation-low:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
      0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
      1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
      0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
      2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
      5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
      1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
      2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
      4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
      7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
      11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
      17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
      25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

@font-face {
    font-family: RecursiveSans;
    src: url(3e30ceb974d55fbb.otf) format("opentype");
}

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    font-family: 'Recursive', monospace;
    background: linear-gradient(to bottom,  #000000 0%,#333333 100%);
}

p {
    font-size: 0.8rem;
}

.webgl
{
    top: 0;
    left: 0;
    outline: none;
}

.ratio-off {
    position: fixed;
}

.point {
    position: absolute;
    top: 50%;
    left: 50%;
}

.point:hover .text {
    opacity: 1;
}

.point.visible .label {
    transform: scale(1, 1)
}

h1 {
    font-size: 36px;
}

.point .label {
    position: absolute;
    top: -20px;
    left: -100px;
    width: 60px;
    height: 40px;
    border-radius: 4px;
    background: var(--bg);
    color: var(--fg);
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 40px;
    font-weight: 100;
    font-size: 14px;
    cursor: help;
    transform: scale(0, 0);
    transition: transform 0.3s;
}

.point .text {
    opacity: 0;
    position: absolute;
    top: 30px;
    left: -100px;
    width: 80px;
    border-radius: 4px;
    background: var(--fg);
    color: var(--bg);
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 40px;
    font-weight: 100;
    font-size: 14px;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.entity-labels-side {
    color: var(--fg);
    /* font-size: 1.2rem; */
    position: absolute;
    top: 50%;
    left: 75%;
    width: 100px;
    display: none;
}

.label-padding {
    padding-left:15px;
}

.hundred-u-label {
    display: flex;
    text-shadow: 0 0 2px var(--bg), 0 0 4px var(--bg), 0 0 6px var(--bg), 0 0 8px var(--bg), 0 0 10px var(--bg), 0 0 14px var(--bg), 0 0 18px var(--bg), 0 0 22px var(--bg), 0 0 30px var(--bg);
    top: -300px;
    left: 100px;
    position: absolute;
}

.ten-u-label {
    display: flex;
    text-shadow: 0 0 2px var(--bg), 0 0 4px var(--bg), 0 0 6px var(--bg), 0 0 8px var(--bg), 0 0 10px var(--bg), 0 0 14px var(--bg), 0 0 18px var(--bg), 0 0 22px var(--bg), 0 0 30px var(--bg);
    /* transform: translateY(-200px) translateX(100px); */
    top: -100px;
    position: absolute;
}

.one-u-label {
    display: flex;
    text-shadow: 0 0 2px var(--bg), 0 0 4px var(--bg), 0 0 6px var(--bg), 0 0 8px var(--bg), 0 0 10px var(--bg), 0 0 14px var(--bg), 0 0 18px var(--bg), 0 0 22px var(--bg), 0 0 30px var(--bg);
    top: 120px;
    left: -200px;
    position: absolute;
}

.zero-point-one-u-label {
    display: flex;
    text-shadow: 0 0 2px var(--bg), 0 0 4px var(--bg), 0 0 6px var(--bg), 0 0 8px var(--bg), 0 0 10px var(--bg), 0 0 14px var(--bg), 0 0 18px var(--bg), 0 0 22px var(--bg), 0 0 30px var(--bg);
    top: 220px;
    left: -320px;
    position: absolute;
}

.zero-point-zero-one-u-label {
    display: flex;
    text-shadow: 0 0 2px var(--bg), 0 0 4px var(--bg), 0 0 6px var(--bg), 0 0 8px var(--bg), 0 0 10px var(--bg), 0 0 14px var(--bg), 0 0 18px var(--bg), 0 0 22px var(--bg), 0 0 30px var(--bg);
    left: -360px;
    top: 250px;
    position: absolute;
}

.rotate-caret {
    transform: rotate(45deg) translateY(-15px);;
}

.arrow-keys {
    position: absolute;
    top: 42%;
    left: 84%;
    transform: translateX(-50%);
}

.arrow {
    color: var(--fg);
    height: 40px;
    width: 80px;
    border: 1px solid var(--fg);
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    background-color: var(--bg) 1px solid;
    box-shadow: var(--shadow-elevation-medium);
    transition: all 0.2s;
}

.arrow:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--bg);
    /* animation: glow 0.5s ease-in-out infinite alternate; */
    box-shadow: var(--shadow-elevation-high);
}

.arrow:active {
    box-shadow: var(--shadow-elevation-low);
    background-color: #b91b4d;
}

.button-icon {
    font-family: "RecursiveSans";
}

.spacebar {
    color: var(--fg);
    height: 40px;
    width: 80px;
    border: 1px solid var(--fg);
    border-radius: 5px;
    position: absolute;
    transform: translateY(120px);
    cursor: pointer;
    font-size: 1.4rem;
    z-index: 101;
    background-color: var(--bg) 1px solid;
    box-shadow: var(--shadow-elevation-medium);
    transition: all 0.2s;
}

.ratio-button {
    color: var(--fg);
    height: 40px;
    width: 80px;
    border: 1px solid var(--fg);
    border-radius: 5px;
    position: absolute;
    transform: translateY(120px) translateX(120px);
    cursor: pointer;
    font-size: 1.4rem;
    z-index: 101;
    background-color: var(--bg) 1px solid;
    box-shadow: var(--shadow-elevation-medium);
    transition: all 0.2s;
}

.spacebar:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--bg);
    box-shadow: var(--shadow-elevation-high);
}

.ratio-button:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--bg);
    box-shadow: var(--shadow-elevation-high);
}

.spacebar:active {
    box-shadow: var(--shadow-elevation-low);
    background-color: #b91b4d;
}
.ratio-button:active {
    box-shadow: var(--shadow-elevation-low);
    background-color: #b91b4d;
}

.up-arrow:hover ~ .scale-up-label {
    display: block;
}

.down-arrow:hover ~ .scale-down-label {
    display: block;
}

.spacebar:hover ~ .shift-camera-label {
    display: block;
}

.ratio-button:hover ~ .button-ratio-label {
    display: block;
}

.scale-up-label {
    text-align: right;
    width: 134px;
    display: none;
    position: absolute;
    transform: translateX(-40px) translateY(-30px);
    color: var(--primary);
    text-shadow: 0 0 2px var(--bg), 0 0 4px var(--bg), 0 0 6px var(--bg), 0 0 8px var(--bg), 0 0 10px var(--bg), 0 0 14px var(--bg), 0 0 18px var(--bg), 0 0 22px var(--bg), 0 0 30px var(--bg);
}

.scale-down-label {
    text-align: right;
    width: 134px;
    display: none;
    position: absolute;
    transform: translateX(-44px) translateY(210px);
    color: var(--primary);
    text-shadow: 0 0 2px var(--bg), 0 0 4px var(--bg), 0 0 6px var(--bg), 0 0 8px var(--bg), 0 0 10px var(--bg), 0 0 14px var(--bg), 0 0 18px var(--bg), 0 0 22px var(--bg), 0 0 30px var(--bg);
}

.shift-camera-label {
    text-align: right;
    width: 134px;
    display: none;
    position: absolute;
    transform: translateX(-50px) translateY(90px);
    color: var(--primary);
    text-shadow: 0 0 2px var(--bg), 0 0 4px var(--bg), 0 0 6px var(--bg), 0 0 8px var(--bg), 0 0 10px var(--bg), 0 0 14px var(--bg), 0 0 18px var(--bg), 0 0 22px var(--bg), 0 0 30px var(--bg);
}

.button-ratio-label {
    text-align: right;
    width: 134px;
    display: none;
    position: absolute;
    transform: translateX(70px) translateY(90px);
    color: var(--primary);
    text-shadow: 0 0 2px var(--bg), 0 0 4px var(--bg), 0 0 6px var(--bg), 0 0 8px var(--bg), 0 0 10px var(--bg), 0 0 14px var(--bg), 0 0 18px var(--bg), 0 0 22px var(--bg), 0 0 30px var(--bg);
}

.down-arrow {
    transform: translateY(240px);
}

.left-arrow {
    transform: rotate(-0.25turn) translateY(-42px) translateX(-42px);
}

.right-arrow {
    transform: rotate(90deg) translateY(-42px) translateX(42px);
}

.control-panel {
    height: 120px;
    color: var(--fg);
    position: absolute;
    top: 45%;
    left: 60%;
    transform: translateX(-50%);
    text-shadow: 0 0 2px var(--bg), 0 0 4px var(--bg), 0 0 6px var(--bg), 0 0 8px var(--bg), 0 0 10px var(--bg), 0 0 14px var(--bg), 0 0 18px var(--bg), 0 0 22px var(--bg), 0 0 30px var(--bg);
}

.current-height-scientific-notation {
    font-size: 6rem;
    text-align: left;
    font-family: 'RecursiveSans';
    /* font-variation-settings: "mono" 1, "wght" 400; */
}
.current-height-standard-notation {
    font-size: 6rem;
    text-align: left;
    font-weight: 300;
}

.special-color {
    color: var(--primary);
    animation: glow 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px var(--bg), 0 0 20px var(--bg), 0 0 30px var(--primary), 0 0 40px var(--primary), 0 0 50px var(--primary), 0 0 60px var(--primary), 0 0 70px var(--primary);
  }
  to {
    text-shadow: 0 0 20px var(--bg), 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.ruler-measurements {
    color: var(--fg);
    position: absolute;
    top: 38%;
    left: 6.2%;
    width: 5vw;
    text-align: right;
}
.mid {
    margin-top: 139px;
}
.bot {
    margin-top: 139px;
}

.container {
    display: flex;
}

.gridding {
    position: absolute;
    width: 320px;
    top: 300px;
    left: 172px;
}

.entity-name-container {
    height: 120px;
    color: var(--fg);
    text-shadow: 0 0 2px var(--bg), 0 0 4px var(--bg), 0 0 6px var(--bg), 0 0 8px var(--bg), 0 0 10px var(--bg), 0 0 14px var(--bg), 0 0 18px var(--bg), 0 0 22px var(--bg), 0 0 30px var(--bg);
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 2rem;
    top: 5%;
    left: 5%;
    width: 70vw;
    line-height: 1.4;
    /* transform: translateX(-50%); */
    /* display: flex; */
    /* justify-content: start; */
}

.entity-name {
    font-weight: 300;
    font-size: 4rem;
}

.entity-information {
    width: 30vw;
    display: none;
}

.control-panel-button {
    display: inline-block;
}

.scale-button {
    height: 200px;
    text-align: center;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    /* box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);  */
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    /* backdrop-filter: blur(5px); */
    border-radius: 4px;
    padding: 8px 24px;
    font-size: 36px;
    font-weight: 600;
    color: rgb(11, 58, 66);
    /* border: 1px solid rgb(11, 58, 66); */
    line-height: 26px;
    transition: all 0.5s;
    text-shadow: 0 0 2px var(--bg), 0 0 4px var(--bg), 0 0 6px var(--bg), 0 0 8px var(--bg), 0 0 10px var(--bg), 0 0 14px var(--bg), 0 0 18px var(--bg), 0 0 22px var(--bg), 0 0 30px var(--bg);
}

.scale-button:hover {
    color: var(--primary);
    /* box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .5);  */
}

.scale-button:hover .exponent {
    color: rgb(231,56,112);
}

.hide {
    display: none;
}

.overview {
    position: absolute;
    bottom: -40px;
    display: flex;
    justify-content: center;
    width: 100vw;
    text-shadow: 0 0 2px var(--bg), 0 0 4px var(--bg), 0 0 6px var(--bg), 0 0 8px var(--bg), 0 0 10px var(--bg), 0 0 14px var(--bg), 0 0 18px var(--bg), 0 0 22px var(--bg), 0 0 30px var(--bg);
}

.overview-step {
    text-align: center;
    width: 70px;
    color: rgb(11, 58, 66);
    cursor: help;
}

.overview-icon {
    width: 44px;
    filter: invert(15%) sepia(20%) saturate(3112%) hue-rotate(151deg) brightness(95%) contrast(91%)
            drop-shadow(0 0 2px var(--bg)) drop-shadow(0 0 4px var(--bg)) drop-shadow(0 0 6px var(--bg));
    color: var(--fg);
}

.dark-theme {
    filter: invert(100%) sepia(20%) saturate(2204%) hue-rotate(309deg) brightness(124%) contrast(110%);
    color: white;
    text-shadow: none;
}

.special .overview-icon {
    filter: invert(48%) sepia(63%) saturate(6835%) hue-rotate(321deg) brightness(95%) contrast(91%)
    drop-shadow(0 0 2px var(--bg)) drop-shadow(0 0 4px var(--bg)) drop-shadow(0 0 6px var(--bg));
}

.overview-top-units {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100vw;
    text-shadow: 0 0 2px var(--bg), 0 0 4px var(--bg), 0 0 6px var(--bg), 0 0 8px var(--bg), 0 0 10px var(--bg), 0 0 14px var(--bg), 0 0 18px var(--bg), 0 0 22px var(--bg), 0 0 30px var(--bg);
}

.overview-top-units .overview-step {
    width: 210px;
    height: 6px;
}

.overview-top {
    position: absolute;
    bottom: 36px;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.overview-top .overview-step {
    width: 210px;
    height: 6px;
}

.one {
    background-color: var(--fg);
}

.two {
    background-color: rgba(18, 73, 81, 0.66);
}
.three {
    background-color: rgba(18, 73, 81, 0.33);
}

.block {
    background-color: rgba(18, 73, 81, 0.33);
    border-right: var(--fg) solid 1px;
    border-left: var(--fg) solid 1px;
}

.center {
    background-color: var(--primary);
}

.special {
    color: var(--primary);
}

.overview-top-units {
    transform: scale(0.7) translateX(70px);
}
.overview-top {
    transform: scale(0.7) translateX(70px);
}
.overview {
    transform: scale(0.7);
}

.tooltip {
    z-index: 100;
    transform: translateX(-100px);
    width: 200px;
    position: relative;
    visibility: hidden;
    font-size: 1.4rem;
    padding: 20px 40px;
    top: -160px;
    background-color: #fcfcfc;
    border-radius: 5px;
    /* color:rgb(11, 58, 66); */
    box-shadow: var(--shadow-elevation-medium);
    border: var(--fg) 1px solid;
}

.tooltip:after {
    position: absolute;
    content: "";
    border-top: 5px solid var(--bg);
    border-left: 5px solid transparent;
    border-bottom:5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
}

.pointer {
    border: solid 10px transparent;
    border-right-color:var(--primary);
    position:absolute;
    margin:-85px 0 0 -20px;
}

.overview-step:hover .tooltip {
    visibility: visible;
}

.current-height-standard-notation-number {
    cursor: help;
}

.unit-tooltip {
    visibility: hidden;
    font-size: 1.2rem;
    width: 120px;
    text-align: center;
    padding: 10px;
    background-color: var(--bg);
    box-shadow: var(--shadow-elevation-medium);
    /* text-shadow: 0 0 2px var(--bg), 0 0 4px var(--bg), 0 0 6px var(--bg), 0 0 8px var(--bg), 0 0 10px var(--bg), 0 0 14px var(--bg), 0 0 18px var(--bg), 0 0 22px var(--bg), 0 0 30px var(--bg); */
}

.unit-tooltip:after {
    position: absolute;
    content: "";
    border-top: 5px solid var(--bg);
    border-left: 5px solid transparent;
    border-bottom:5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
}

.standard-notation {
    cursor: help;
}

.standard-notation:hover + .unit-tooltip {
    visibility: visible;
}

.panel-text {
    font-size: 1.2rem;
    /* opacity: 50%; */
    /* font-family: monospace; */
}

.label-mode {
    display: none;
    position: fixed;
    height: 100%;
    width: 25%;
    left: 50px;
}

.overview-vertical {
    
}

.square-1 {
    background-color: var(--fg);
    opacity: 40%;
    height: 0px;
    width: 50px;
    margin: 0 auto;
}

.square-2 {
    background-color: var(--fg);
    opacity: 80%;
    height: 100px;
    width: 50px;
    margin: 0 auto;
}

.square-3 {
    background-color: var(--primary);
    height: 10px;
    width: 50px;
    margin: 0 auto;
}

.square-4 {
    background-color: var(--fg);
    opacity: 80%;
    height: 1px;
    width: 50px;
    margin: 0 auto;
}

.square-5 {
    background-color: var(--fg);
    opacity: 40%;
    height: 0.1px;
    width: 50px;
    margin: 0 auto;
}

.disable {
    color: grey;
    opacity: 50%;
}

#ratio-overlay img {
    width: 70%;
    height: 70%;
    z-index: 1;
    position: absolute;
}

#ratio-overlay {
    display: none;
}

#second-overlay img {
    top: 100px;
    width: 70%;
    height: 70%;
    z-index: 1;
    position: absolute;
}

#second-overlay {
    display: none;
}


/*# sourceMappingURL=main.css.map*/