@font-face {
    font-family: Editorial;
    font-weight: 100;
    src: url("fonts/PPEditorialNew-Thin.ttf") format("opentype");
}
@font-face {
    font-family: Editorial;
    font-weight: 100;
    font-style: italic;
    src: url("fonts/PPEditorialNew-ThinItalic.ttf") format("opentype");
}
@font-face {
    font-family: Editorial;
    font-weight: 400;
    src: url("fonts/PPEditorialNew-Regular.ttf") format("opentype");
}

:root {
    /* --bg: #0c0910; */
    --bg: #000000;
    --fg: #F6EFEE;
    --primary: #00A7E1;
    --secondary: #26C485;
    --thirdary: #F56476;
    --fourthary: #ED1C24;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: var(--bg);
    color: var(--fg);
    margin: -8px;
}

p {
    font-size: 1rem;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 0;
}

.paragraph-group p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.paragraph-group p:first-child {
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: var(--fg);
    cursor: pointer;
}

a:hover {
    color: var(--primary);
    /* text-decoration: underline wavy 0.06rem var(--secondary);
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-color: var(--secondary);
    -webkit-text-decoration-style: solid;
    -webkit-text-decoration-thickness: 1px; */
}

mark {
    background-color: rgba(0,0,0,0);
    color: var(--fg);
}

.projects-container-flex {
    display:flex;
    flex-wrap: wrap;
    margin: 0 -40px -40px -40px;
}

.container {
    margin: 5vw 10vw;
}

.nav {
    /* padding: 5vw 10vw; */
    border-bottom: 1px solid var(--fg);
    padding-bottom: 10px;
    /* text-shadow: 0 0 2px var(--bg), 0 0 4px var(--bg), 0 0 6px var(--bg), 0 0 8px var(--bg), 0 0 10px var(--bg), 0 0 14px var(--bg), 0 0 20px var(--bg), 0 0 24px var(--bg); */
    /* background: linear-gradient(rgba(0,0,0,0), var(--bg)); */
}

.footer {
    /* text-shadow: 0 0 2px var(--bg), 0 0 4px var(--bg), 0 0 6px var(--bg), 0 0 8px var(--bg), 0 0 10px var(--bg), 0 0 14px var(--bg), 0 0 20px var(--bg), 0 0 24px var(--bg); */
    /* background: linear-gradient( var(--bg), rgba(0,0,0,0)); */
}

.copyright {
    background-color: var(--bg);
    font-family: "Editorial", serif;
}

h1 {
    font-family: "Editorial", sans-serif;
    font-weight: 100;
    font-style: normal;
    /* font-size: 4rem; */
    line-height: 3rem;
    text-shadow: 0 0 2px var(--bg), 0 0 4px var(--bg), 0 0 6px var(--bg), 0 0 8px var(--bg), 0 0 10px var(--bg), 0 0 14px var(--bg), 0 0 20px var(--bg), 0 0 24px var(--bg);
}

h2 {
    font-size: 1.8rem;
    font-family: "ibm-plex-mono", serif;
    font-weight: 800;
    font-style: normal;
}

/* .project-process h2 {
    font-family: "ibm-plex-mono", sans-serif;
} */

.no-margin {
    margin: 0;
}

h3 {
    font-family: "ibm-plex-mono", sans-serif;
    font-size: 1rem;
    font-weight: 800;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 10px;
}

h4 {
    font-family: "ibm-plex-mono", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 0;
}

h5 {
    font-family: "ibm-plex-mono", sans-serif;
    margin: 0;
    padding-bottom: 40px;
    font-weight: 200;
    text-align: left;
    font-size: 2rem;
    text-shadow: 0 0 2px var(--bg), 0 0 4px var(--bg), 0 0 6px var(--bg), 0 0 8px var(--bg), 0 0 10px var(--bg), 0 0 14px var(--bg), 0 0 20px var(--bg), 0 0 24px var(--bg);
}

small {
    font-size: 0.7rem;
    font-family: "ibm-plex-mono", sans-serif;
    /* font-family: "ibm-plex-sans", sans-serif; */
    font-weight: 100;
    text-transform: lowercase;
    font-style: italic;
}

.tag {
    font-weight: 400;
    /* background-color: #e3e3e3; */
    /* color: var(--bg); */
    border-radius: 10px;
    border: 1px solid var(--fg);
    padding: 4px 12px;
    margin: 0 2px;
    text-transform: uppercase;
    font-style: normal;
    transition: border 0.3 ease-in-out;
}

.client {
    color: var(--thirdary);
    /* transition: all 0.3s ease-in-out; */
    display: none;
    border-color: var(--thirdary);
}

.speculative {
    color: var(--secondary);
    /* transition: all 0.3s ease-in-out; */
    display: none;
    border-color: var(--secondary);
}

.tag:first-child {
    margin-left: 0;
}

a:hover .tag {
    /* background-color: var(--primary); */
    border-color: var(--primary);
    color: var(--primary);
}

.name {
    /* text-decoration: none; */
    font-family: "Editorial", sans-serif;
    font-weight: light;
    font-style: italic;
}

.brian-link {
    transform: translateY(4px);
    font-size: 1.4rem;
    background-color: var(--bg);
}

.not-italic {
    font-style: normal;
}

.thirdary {
    color: var(--fg);
    background-color: var(--thirdary);
    padding-left: 10px;
    padding-right: 10px;
}

.flexbox {
    display: grid;
    justify-content: start;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.nav {
    grid-template-columns: repeat(1, 1fr);
}

.footer {
    grid-template-columns: repeat(1, 1fr);
}

.row {
    flex: 0 0 100%;
}

.small > img {
    height: 100%;
    width: auto;
}
.small{
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    justify-content: start;
    /* width: 50vw; */
    flex-wrap: wrap;
}

.nav-link {
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 300;
    /* text-decoration: none; */
    padding-right: 20px;
    padding-top: 20px;
    background-color: var(--bg);
}

.info {
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 2;
}

.project-info {
    border-bottom: var(--fg) solid 1px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.project-process {
    margin-top: 40px;
    border-top: var(--fg) solid 1px;
    margin-bottom: 100px;
}

.footer {
    margin-top: 40px;
    border-top: var(--fg) solid 1px;
    padding-top: 10px;
    font-weight: 100;
    font-style: normal;
    align-items: baseline;
}

.hr {
    margin-top: 60px;
    border-top: solid 1px var(--primary);
}

hr {
    margin-bottom: 50px;
}

.ul-link {
    text-decoration: underline solid 1px var(--fg);
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-color: var(--fg);
    -webkit-text-decoration-style: solid;
    -webkit-text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.ul-link:hover {
    color: var(--primary);
    text-decoration: underline solid 1px var(--primary);
    -webkit-text-decoration-color: var(--primary);
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-style: solid;
    -webkit-text-decoration-thickness: 1px;
}

.webgl {
    position: absolute;
    width: 100vw;
    /* background-color: blue; */
    margin: -8px;
    z-index: -100;
    height: 100vh;
    /* margin-top: -72px; */
    /* height: 50vh; */
    display: none;
}

.screen-height-container {
    height: 100vh;
}

.webgl-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 80vh;
    width: 100vw;
    background: linear-gradient(rgba(12, 9, 16, 0),rgba(12, 9, 16, 1));
}

.project-preview {
    /* display: flex; */
    margin: 0px 40px 80px 40px;
    cursor: pointer;
}

.project-preview-flex {
    /* display: flex; */
    justify-content: space-between;
    align-items: baseline;
}

.project-preview-flex h2 {
    margin-top: 10px;
    font-family: "Editorial", serif;
    font-weight: 100;
    font-size: 2.2rem;
}

.project-preview img {
    display: block;
    width: 100%;
    /* border-radius: 4px; */
    height: auto;
}

.project-hero {
    position:relative;
    z-index: 0;
    /* box-shadow: var(--shadow-elevation-medium); */
    /* border-radius: 4px; */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    object-fit: cover;
    /* border: 1px solid rgba(0,0,0,0); */
}

/* a:hover .project-hero {
    filter: blur(4px);
} */

.bordered {
    border: 1px solid var(--fg);
    margin: -2px;
}

.project-hero img {
    display: block;
}

.homepage .project-hero {
    /* border-radius: 10px; */
}

.homepage .project-hero img {
    /* border-radius: 10px; */
}

.project-preview-description {
    margin-top: 20px;
    /* margin-top: 10px; */
    transition: all 0.2s ease-in-out;
    /* padding: 0 0 0 20px; */
}

.project-preview-description h2 {
    margin-bottom: 0;
}
.project-preview-description p {
    margin: 0;
}
.project-preview-description p {
    text-decoration: none !important;
}

.homepage .project-preview:hover .project-hero {
    /* box-shadow: var(--shadow-elevation-high); */
}

.project-preview video {
    margin-bottom: -5px;
}

.rounded-image {
    /* border-radius: 10px; */
}

.profile {
    width: 100%;
}

.project-description {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
}

.third {
    width: 100%;
    padding-top: 20px;
    align-self: baseline;
}

.auto-align{
    align-self: auto;
}

.two-thirds {
    width: 100%;
    padding-top: 20px;
}

.img-fill {
    width: 100%;
}

/* Art Gallery */
.gallery {
    padding-top: 100px;
    line-height:0;
    -webkit-column-count:2;
    -webkit-column-gap:10px;
    -moz-column-count:2;
    -moz-column-gap:10px;
    column-count:2;
    column-gap:10px;
}

.no-top-border {
    border-top: 0;
    margin-top: 0;
}

.gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 10px;
}

.gallery-small {
    line-height:0;
    -webkit-column-count:2;
    -webkit-column-gap:10px;
    -moz-column-count:2;
    -moz-column-gap:10px;
    column-count:2;
    column-gap:10px;
}
.gallery-small img {
    width: 100% !important;
    height: auto !important;
}

.img-caption {
    font-family: "ibm-plex-mono", sans-serif;
    font-size: 0.8em;
    margin-top: 5px;
    /* color: var(--thirdary); */
    /* opacity: 0.8; */
    font-weight: 200;
    font-style: italic;
    /* text-align: right; */
}

.item-grid img {
    width:100%;
}

.item img {
    width: 100%;
}

.highlight {
    background-color: var(--thirdary);
    text-shadow: none;
    padding: 0 10px 0 10px;
}

.special {
    display: none;
}

a:hover .client {
    color: var(--primary);
}

a:hover .speculative {
    color: var(--primary);
}

.section-header {
    border-bottom: 1px solid var(--fg);
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.special-color-text {
    /* color: var(--secondary); */
    /* background-color: var(--primary);
    color: var(--bg); */
}

.background {
    background-color: var(--bg);
}

.deemphasized {
    opacity: 0.8;
    font-weight: 300;
}

.item {
    /* margin-bottom: 5vw; */
}

.item-grid {
    display: grid;
    grid-row-gap: 40px;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid-2-asymetrical {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.grid-2-asymetrical-reverse {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.grid-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.loader {
    width: 50%;
}
  

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .nav {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .footer {
        grid-template-columns: repeat(2, 1fr);
    }

    .item-grid {
        display: grid;
        grid-row-gap: 100px;
    }

    .grid-2-asymetrical {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 10px;
    }
    
    .grid-2-asymetrical-reverse {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 10px;
    }

    h1 {
        font-size: 4.2rem;
        line-height: 5.2rem;
    }

    .projects-container-flex a {
        width: 50%;
        /* margin-left: 1%;
        margin-right: 1%;
        width: 48%; */
    }

    .column {
        /* width: 50vw; */
    }

    .client {
        display: inline-block;
    }
    
    .speculative {
        display: inline-block;
    }
    

    .homepage {
        /* background-color: var(--secondary); */
    }

    .webgl {
        display: block;
        /* height: 102vh; */
        height: 130vh;
        width: 102vw;
        max-width: 1600px;
        margin: 0 auto;
        margin-top: 0px;
    }

    .homepage .info {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    /** Safari */
    @media not all and (min-resolution: 0.001dpcm) {

    }

    .flexbox {
        flex-direction: row;
    }

    .right-align {
        justify-content: end;
        -webkit-justify-content: flex-end;
        align-items: flex-end;
        -webkit-align-items: flex-end;
    }

    .third {
        padding: 0px 0px;
        width: 33%;
    }

    .third h2 {
        width: 70%;
    }
    
    .two-thirds {
        padding: 0px 50px;
        width: 66%;
    }

    .nav-link {
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 0px;
        margin: 0px;
    }

    .special {
        display: block;
        border: 1px solid var(--fg);
        border-radius: 20px;
        text-align: center;
        padding-right: 20px;
        margin-left: 20px;
        background-color: var(--bg);
        transform: translateY(2px);
        padding-bottom: 2px;
        background-color: var(--fg);
        color: var(--bg);
    }

    .special:hover {
        background-color: var(--primary);
        color: var(--bg);
        border-color: var(--primary);
        text-shadow: none;
        text-decoration: none;
    }

    .gallery {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }

    .small {
        /* height: 220px; */
        flex: 1;
    }

    .about-info {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1300px) {
    body {
      max-width: 1600px;
      margin-left: auto;
      margin-right: auto;
    }
  }

